* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  width: 100%;
  height: 100%; }
  html body {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    margin: 0%;
    padding: 0%;
    background-color: #FCF8F7;
    font-family: 'Quicksand', sans-serif; }

#header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #febbbc;
  width: 100%; }
  #header .navBar .navToggle {
    color: white;
    background: none;
    border: none;
    font-size: 30px;
    padding: 0 20px;
    cursor: pointer;
    display: none; }
  #header .navBar .navMenu {
    display: flex;
    flex-direction: row; }
    #header .navBar .navMenu .navItem {
      list-style: none;
      padding: 8px; }
      #header .navBar .navMenu .navItem .navLink {
        text-decoration: none;
        color: #FCF8F7; }

#index {
  background: #ffdde1;
  background: linear-gradient(90deg, #ffdde1 27%, #febbbc 65%); }
  #index .hero {
    background-image: url(../img/hero.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    margin: 2px;
    height: 600px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: "texto . "; }
    #index .hero .heroTexto {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      text-align: center;
      grid-area: texto;
      height: 100%; }
      #index .hero .heroTexto p {
        line-height: 1.5;
        margin-bottom: 10px;
        font-family: serif;
        font-weight: 600;
        font-size: x-large;
        color: #7a7570; }
        #index .hero .heroTexto p span {
          color: cadetblue;
          font-size: xxx-large;
          font-family: monospace;
          font-weight: 900;
          font-style: italic; }
    #index .hero .heroBoton {
      color: #FCF8F7;
      background-color: cadetblue;
      padding: 8px;
      border-radius: 16px; }

.sectionServicios .serviciosTitulo {
  font-size: 45px;
  font-weight: normal;
  font-style: normal;
  background: #febbbc;
  background: -webkit-linear-gradient(to right, #ffdde1, #febbbc);
  background: linear-gradient(to right, #ffdde1, #febbbc);
  padding-left: 10%;
  padding-top: 15px;
  height: 100px; }

.sectionServicios .buscador {
  display: block;
  margin: auto;
  margin-top: 8px;
  height: 50px;
  width: 80%;
  border-radius: 16px;
  padding-left: 16px; }

.sectionServicios .divContenedor {
  display: flex;
  flex-direction: column;
  align-items: center; }
  .sectionServicios .divContenedor .divServicios {
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 30px;
    width: 80%;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.45); }
    .sectionServicios .divContenedor .divServicios div .nombre {
      font-weight: 600;
      font-size: 36px;
      margin: 0 0 15px;
      text-align: center; }
    .sectionServicios .divContenedor .divServicios div .descripcion {
      font-weight: 300;
      line-height: 24px;
      margin: 0 0 30px 0;
      text-align: center; }
    .sectionServicios .divContenedor .divServicios div .div1 {
      display: flex;
      flex-direction: row-reverse;
      justify-content: space-evenly; }
    .sectionServicios .divContenedor .divServicios div .botonReserva {
      display: flex;
      margin: auto;
      margin-top: 20px;
      color: black;
      background-color: #febbbc;
      padding: 8px;
      border-radius: 16px; }

#contenedor {
  height: 100%;
  width: 100%; }
  #contenedor .divContenedor {
    height: 100%; }
    #contenedor .divContenedor .divTexto {
      background: #febbbc;
      background: -webkit-linear-gradient(to right, #ffdde1, #febbbc);
      background: linear-gradient(to right, #ffdde1, #febbbc);
      padding-left: 10%;
      padding-top: 15px; }
      #contenedor .divContenedor .divTexto h1 {
        font-weight: 500; }
      #contenedor .divContenedor .divTexto h2 {
        font-weight: 100; }
    #contenedor .divContenedor .divGrid {
      margin-top: 16px;
      margin-bottom: 16px;
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 100%;
      grid-template-areas: "form info"; }
      #contenedor .divContenedor .divGrid .divForm {
        grid: form;
        width: 80%;
        margin: auto; }
        #contenedor .divContenedor .divGrid .divForm form {
          display: flex;
          flex-direction: column;
          margin-left: 24px; }
          #contenedor .divContenedor .divGrid .divForm form label {
            margin-left: 8px; }
          #contenedor .divContenedor .divGrid .divForm form input {
            height: 45px;
            border-radius: 8px;
            margin: 8px;
            padding: 8px; }
            #contenedor .divContenedor .divGrid .divForm form input.inputComentario {
              height: 100px; }
          #contenedor .divContenedor .divGrid .divForm form .botonForm {
            padding: 8px;
            border-radius: 8px;
            background-color: #dd8395;
            width: 97%;
            margin-left: 6px; }
      #contenedor .divContenedor .divGrid .info {
        grid-area: info;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        margin: auto;
        flex-wrap: wrap; }
        #contenedor .divContenedor .divGrid .info div {
          margin-bottom: 16px; }
          #contenedor .divContenedor .divGrid .info div p span {
            font-weight: 600;
            font-size: medium;
            margin-bottom: 2px; }

.contenedorTodo {
  width: 100%;
  height: 100%;
  margin: auto;
  background: #ffdde1;
  background: linear-gradient(90deg, #ffdde1 27%, #febbbc 65%); }
  .contenedorTodo .divFormularios {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 100%;
    grid-template-areas: "crear iniciar"; }
    .contenedorTodo .divFormularios .formCrearCuenta {
      grid-area: crear;
      width: 80%;
      height: 90%;
      padding: 80px 20px;
      margin: auto;
      background: rgba(241, 232, 232, 0.09);
      border-radius: 16px;
      box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
      backdrop-filter: blur(4.3px);
      -webkit-backdrop-filter: blur(4.3px);
      border: 1px solid rgba(241, 232, 232, 0.6);
      border-radius: 20px; }
      .contenedorTodo .divFormularios .formCrearCuenta h2 {
        font-size: 30px;
        text-align: center;
        margin-bottom: 20px;
        color: black; }
      .contenedorTodo .divFormularios .formCrearCuenta input {
        width: 100%;
        margin-top: 20px;
        padding: 10px;
        border: none;
        border-radius: 16px;
        background: #F2F2F2;
        font-size: 16px; }
      .contenedorTodo .divFormularios .formCrearCuenta button {
        padding: 10px 40px;
        margin-top: 40px;
        border: none;
        font-size: 14px;
        background-color: black;
        border-radius: 16px;
        font-weight: 600;
        color: white;
        display: block;
        max-width: 200px;
        margin-left: auto;
        margin-right: auto; }
    .contenedorTodo .divFormularios .formIniciarSesion {
      grid-area: iniciar;
      background: rgba(241, 232, 232, 0.09);
      border-radius: 16px;
      box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
      backdrop-filter: blur(4.3px);
      -webkit-backdrop-filter: blur(4.3px);
      border: 1px solid rgba(241, 232, 232, 0.6);
      width: 80%;
      padding: 80px 20px;
      border-radius: 20px;
      opacity: 1;
      margin: auto; }
      .contenedorTodo .divFormularios .formIniciarSesion h2 {
        font-size: 30px;
        text-align: center;
        margin-bottom: 20px;
        color: black; }
      .contenedorTodo .divFormularios .formIniciarSesion input {
        width: 100%;
        margin-top: 20px;
        padding: 10px;
        border: none;
        border-radius: 16px;
        background: #F2F2F2;
        font-size: 16px;
        outline: none; }
      .contenedorTodo .divFormularios .formIniciarSesion button {
        padding: 10px 40px;
        margin-top: 40px;
        border: none;
        font-size: 14px;
        font-weight: 600;
        color: white;
        display: block;
        max-width: 200px;
        margin-left: auto;
        margin-right: auto;
        background-color: black;
        border-radius: 16px; }

#footer {
  background-color: #febbbc;
  margin-top: auto; }
  #footer p {
    text-align: center;
    font-size: medium;
    margin: 16px; }
  #footer .contactos {
    display: flex;
    flex-direction: row;
    justify-content: center; }
    #footer .contactos a {
      width: 30px;
      height: 30px;
      margin: 0px 16px 0px 16px;
      transition: 1s; }
      #footer .contactos a:hover {
        transform: scale(1.1); }
      #footer .contactos a img {
        width: 30px;
        height: 30px;
        display: block; }

@media screen and (max-width: 992px) {
  #header .navBar .navToggle {
    display: block;
    margin-top: 16px; }
    #header .navBar .navToggle:focus:not(:focus-visible) {
      outline: none; }
  #header .navBar .navMenu {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    height: auto;
    padding: 20px 0;
    width: 100%;
    overflow-y: auto;
    position: fixed;
    right: 100%;
    transition: left 0.3s; }
    #header .navBar .navMenu.navMenu_visible {
      right: 0;
      background: #ffdddd;
      background: linear-gradient(90deg, rgba(255, 221, 221, 0.796043) 27%, #febbbc 65%); }
    #header .navBar .navMenu .navItem {
      line-height: 70px;
      border-bottom: solid 1px; }
      #header .navBar .navMenu .navItem .navLink {
        color: #6b6764; } }

@media screen and (max-width: 768px) {
  #contenedor {
    height: auto; }
    #contenedor .divContenedor .divGrid {
      display: grid;
      grid-template-columns: 100%;
      grid-template-rows: auto auto;
      grid-template-areas: "form " "info"; }
      #contenedor .divContenedor .divGrid .divForm {
        margin: auto;
        width: 80%; }
      #contenedor .divContenedor .divGrid .info {
        align-content: center;
        width: 80%;
        margin-top: 10%; }
        #contenedor .divContenedor .divGrid .info img {
          width: 35px; }
  .sectionServicios .divContenedor .divServicios {
    flex-direction: column; }
    .sectionServicios .divContenedor .divServicios .imagen {
      width: 150px; }
    .sectionServicios .divContenedor .divServicios div .nombre {
      font-size: 30px; }
    .sectionServicios .divContenedor .divServicios div .descripcion {
      font-size: small; }
    .sectionServicios .divContenedor .divServicios div .botonReserva {
      margin-bottom: 8px; }
  .contenedorTodo .divFormularios {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "crear " "iniciar"; } }

@media screen and (max-width: 576px) {
  #header .logo a img {
    width: 80%; }
  #header .navBar #boton {
    margin-top: 0; } }
