#header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: $color-principal;
    width: 100%;
    .navBar {
        .navToggle {
            color: white;
            background: none;
            border: none;
            font-size: 30px;
            padding: 0 20px;
            cursor: pointer;
            display: none;
        }

        .navMenu {
            display: flex;
            flex-direction: row;

            .navItem {
                list-style: none;
                padding: 8px;

                .navLink {
                    text-decoration: none;
                    color: $color-fondo;
                    transition: 0.6s;
                    &:hover{
                        color: rgb(46, 45, 45);
                    }
                }
            }
        }
    }a{
        color: white;
    }
    .iconoReserva{
        text-decoration: none;
        display: flex;
        img{
            width: 50px;
        }
    }
}