#header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: $color-principal;
    width: 100%;
    .navBar {
        .navToggle {
            color: white;
            background: none;
            border: none;
            font-size: 30px;
            padding: 0 20px;
            /* line-height: 60px; */
            cursor: pointer;
            display: none;
        }

        .navMenu {
            display: flex;
            flex-direction: row;

            .navItem {
                list-style: none;
                padding: 8px;

                .navLink {
                    text-decoration: none;
                    color: $color-fondo;
                }
            }
        }
    }}