#contenedorReserva {
    .sectionReservas {
        .turnosH1 {
            font-size: 45px;
            font-weight: normal;
            font-style: normal;
            background: #febbbc;
            background: -webkit-linear-gradient(to right, #ffdde1, #febbbc);
            background: linear-gradient(to right, #ffdde1, #febbbc);
            padding-left: 10%;
            padding-top: 15px;
            height: 100px;
        }

        .divContReservas {
            display: flex;
            flex-direction: column;
            align-items: center;

            .divReservas {
                display: flex;
                flex-direction: row;
                justify-content: space-evenly;
                align-items: center;
                background-color: white;
                margin: 30px;
                width: 80%;
                box-shadow: 0 8px 16px rgba(0, 0, 0, 0.45);

                img {
                    width: 10%;
                }


                p {
                    margin: 16px;
                    text-align: center;
                    line-height: 30px;

                }


                .botones {

                    button {
                        border: none;
                        border-radius: 16px;
                        color: black;
                        background-color: #febbbc;
                        padding: 8px;

                    }
                }

            }

            .finalizar {
                display: flex;
                width: 100%;
                justify-content: center;
                align-items: center;
                margin: 16px;

                background-color: white;
                margin: 30px;
                width: 80%;
                box-shadow: 0 8px 16px rgba(0, 0, 0, 0.45);


                div {
                    padding: 20px;
                    p {
                        font-size: 45px;
                        font-weight: normal;
                        font-style: normal;
                        text-align: center;
                    }
                    .botonesFinalizar{
                        display: flex;
                        justify-content: space-around;
                        margin-top: 8px;
                        button {
                            border: none;
                            border-radius: 16px;
                            color: black;
                            background-color: #febbbc;
                            padding: 8px;
                        }
                    }
                }
            }
        }
    }
}