@media screen and (max-width:992px) {
    #header {
        .navBar {
            .navToggle {
                display: block;
                margin-top: 16px;

                &:focus:not(:focus-visible) {
                    outline: none;
                }
            }

            .navMenu {
                display: flex;
                flex-direction: column;
                align-items: center;
                margin: auto;
                height: auto;
                padding: 20px 0;
                width: 100%;
                overflow-y: auto;
                position: fixed;
                right: 100%;
                transition: left 0.3s;

                &.navMenu_visible {
                    right: 0;
                    background: rgb(255, 221, 221);
                    background: linear-gradient(90deg, rgba(255, 221, 221, 0.7960434173669468) 27%, rgba(254, 187, 188, 1) 65%);
                }

                .navItem {
                    line-height: 70px;
                    border-bottom: solid 1px;

                    .navLink {
                        color: #6b6764;
                    }

                }
            }
        }
    }
}


@media screen and (max-width:768px) {
    #contenedor {
        height: auto;

        .divContenedor {
            .divGrid {
                display: grid;
                grid-template-columns: 100%;
                grid-template-rows: auto auto;
                grid-template-areas:
                    "form "
                    "info";

                .divForm {
                    margin: auto;
                    width: 80%;
                }

                .info {
                    align-content: center;
                    width: 80%;
                    margin-top: 10%;

                    img {
                        width: 35px;
                    }

                }
            }

        }
    }

    .sectionServicios {
        .divContenedor {
            .divServicios {
                flex-direction: column;

                .imagen {
                    width: 150px;
                }

                div {
                    .nombre {
                        font-size: 30px;
                    }

                    .descripcion {
                        font-size: small;
                    }

                    .botonReserva {
                        margin-bottom: 8px;
                    }
                }
            }
        }
    }

    .contenedorTodo {
        .divFormularios {
            display: grid;
            grid-template-columns:100%;
            grid-template-rows:1fr 1fr;
            grid-template-areas:
                "crear "
                "iniciar";
        }
    }
}

@media screen and (max-width:576px) {
    #header {
        .logo {
            a {
                img {
                    width: 80%;
                }
            }
        }

        .navBar {
            #boton {
                margin-top: 0;
            }
        }
    }
}